
# Playwright
node_modules/
.env
.adminjs/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/
allure-report/
playwright-report/
test-results/
api-testing-project/reports/*
!api-testing-project/reports/.gitkeep
/data/recipes/
